---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app octoprint
  namespace: printing
spec:
  interval: 5m
  chart:
    spec:
      chart: octoprint
      version: 6.4.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: app
                  operator: In
                  values:
                    - octoprint

    image:
      tag: 1.8.6

    env:
      TZ: "{$TZ}"
      # # -- Enable MJPG Streamer
      # # Enable this to ensure camera streaming is enabled you add a video device.
      # ENABLE_MJPG_STREAMER: "true"
      # # -- MJPG Streamer input parameters
      # MJPG_STREAMER_INPUT:  # "-y -n -r 640x480"
      # # -- MJPG Streamer camera device
      # CAMERA_DEV:  # /dev/video0

    securityContext:
      # -- (bool) Privileged securityContext may be required if USB devics are accessed directly through the host machine
      privileged: true

    persistence:
      data:
        enabled: true
        existingClaim: octoprint-data-v1
        mountPath: "/octoprint"
      # -- Configure a hostPathMount to mount a USB device in the container.
      # @default -- See values.yaml
      # printer:
      #   enabled: false
      #   type: hostPath
      #   hostPath: /dev/ttyACM0

    # service:
    #   main:
    #     ports:
    #       http:
    #         port: 80

    ingress:
      main:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          # cert-manager.io/cluster-issuer: "letsencrypt-production"
          # cert-manager.io/cluster-issuer: 'selfsigned-cluster-issuer'
          hajimari.io/enable: "true"
          hajimari.io/icon: "resistor-nodes"
          hajimari.io/targetBlank: "true"
          traefik.ingress.kubernetes.io/router.entrypoints: "web"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        # tls:
        #   - hosts:
        #       - *host
        #     secretName: 'node-red-tls'

    # podSecurityContext:
    #   # runAsUser: 568
    #   # runAsGroup: 568
    #   # fsGroup: 568
    #   runAsUser: 1
    #   runAsGroup: 1
    #   fsGroup: 1
    #   fsGroupChangePolicy: "OnRootMismatch"

    # resources:
    #   requests:
    #     cpu: 22m
    #     memory: 164Mi
    #   limits:
    #     memory: 262Mi

    # addons:
    #   codeserver:
    #     enabled: true
    #     image:
    #       repository: ghcr.io/coder/code-server
    #       tag: 4.8.3
    #     env:
    #       TZ: "${TZ}"
    #     volumeMounts:
    #       - name: data
    #         mountPath: /data
    #     ingress:
    #       enabled: true
    #       ingressClassName: "traefik"
    #       annotations:
    #         # cert-manager.io/cluster-issuer: "letsencrypt-production"
    #         # cert-manager.io/cluster-issuer: 'selfsigned-cluster-issuer'
    #         hajimari.io/enable: "true"
    #         hajimari.io/icon: "microsoft-visual-studio-code"
    #         hajimari.io/targetBlank: "true"
    #         traefik.ingress.kubernetes.io/router.entrypoints: "web"
    #       hosts:
    #         - host: &host "node-red-code.${SECRET_DOMAIN}"
    #           paths:
    #             - path: /
    #               pathType: Prefix
